.commonText {
  font-family: "Signika", sans-serif;
  color: aliceblue;
}

.questionsBox {
  width: 100%;
  height: auto;
  border: rgba(173, 212, 231, 0.657) solid 2px;
  background-color: rgba(255, 255, 255, 0.931);
}

.close-container {
  position: relative;
  margin: auto;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

.leftright,
.rightleft {
  height: 3px;
  width: 25px;
  position: absolute;
  margin-top: 15%;
  margin-left: 518%;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  transform: rotate(-45deg);
}

.close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: red;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: red;
}
.close-container:hover label {
  opacity: 1;
}
.emailTag,
.discordTag {
  background-image: url("/discord-tag.jpg");
  background-size: cover;
  border-radius: 20px;
  box-shadow: inset 0px 0px 2px 2px #42424242;
}

.emailTag {
  background-image: url("/gmail-tag.png");
}

.logoImage {
  width: 15vw;
  height: 15vw;
}

.emailImage {
  width: 15vw;
  height: 15vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  margin-bottom: 15px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.background > div:nth-child(1) {
  position: relative;
  z-index: 2;
  height: 200px;
  -webkit-transform: rotate(-1.5deg) scale(2);
  transform: rotate(-1.5deg) scale(2);
  background: #278bc4;
}

.background > div:nth-child(2) {
  z-index: 1;
  height: 330px;
  -webkit-transform: rotate(1.5deg) scale(1.2);
  transform: rotate(1.5deg) scale(1.2);
  background: #4c97ca;
}

.passwordIconHover * {
  transition: 0.4s;
  background-color: whitesmoke !important;
}

.passwordIconHover:hover * {
  font-size: large;
  background-color: rgb(197, 218, 255) !important;
}

.animated-navbar {
  height: 85px;
}

.animated-navbar + .fixed-top > nav.navbar.scrolled {
  margin-top: -2px;
  transition: margin-top 0.5s;
}

.animated-navbar + .fixed-top > nav.navbar.unscrolled {
  margin-top: 15px;
  transition: margin-top 0.5s;
}

div.container.page,
nav.navbar {
  background-color: white;
  box-shadow: 0 4px 7px 1px #00000066;
}

.navbar-brand img {
  width: 30px;
  height: 30px;
}

#basic-navbar-nav a {
  color: black;
}

#basic-navbar-nav a.nav-link:hover {
  text-decoration: underline;
}

div.container.page {
  border-radius: 5px;
  position: relative;
}

div.container.page .content-container {
  border-radius: 20px;
  box-shadow: inset 0px 0px 1px 1px #42424242;
  border-width: 10px;
  border-color: transparent;
  border-style: solid;
  padding: 20px;
}

.spinning-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

button.delete-button-link {
  margin: 2px;
  color: black;
  cursor: pointer;
}

button.delete-button-link:hover {
  background-color: #17a2b8;
  color: white;
  text-decoration: none;
  transition: background-color 0.5s linear;
}

button.delete-button-link.disabled {
  border: 1px solid grey;
  color: grey;
}

button.delete-button-link.disabled:hover {
  border: 1px solid #007bff;
  color: white;
}

span.delete-button-icon,
span.add-button-icon {
  visibility: hidden;
  opacity: 0;
  margin-left: -10px !important;
  transition: visibility 0s, opacity 0.5s, margin-left 0.2s linear;
}

button.delete-button-link.enabled:hover > span.delete-button-icon {
  display: inline;
  visibility: visible;
  opacity: 1;
  margin-left: 5px !important;
}

button.delete-button-link.disabled:hover > span.add-button-icon {
  display: inline;
  visibility: visible;
  opacity: 1;
  margin-left: 5px !important;
}

button.delete-button-link.disabled > span:nth-child(1) {
  text-decoration: line-through;
}

.temporary-trash {
  height: auto !important;
  background-image: linear-gradient(45deg, #b5b5b5 25%, transparent 25%),
    linear-gradient(-45deg, #b5b5b5 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #b5b5b5 75%),
    linear-gradient(-45deg, transparent 75%, #d8d8d8 75%);
  background-size: 2px 2px;
  background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}

.a,
.a:hover {
  color: #0056b3;
  cursor: pointer;
}
.a:hover {
  text-decoration: underline;
}

.accordion > .card > .card-header {
  cursor: pointer;
}
